[submodule "JAABA"]
	path = JAABA
	url = https://github.com/kristinbranson/JAABA
[submodule "FlyTracker"]
	path = FlyTracker
	url = https://github.com/kristinbranson/FlyTracker
[submodule "goldblum/fuster"]
	path = goldblum/fuster
	url = https://github.com/JaneliaSciComp/fuster
[submodule "tpt"]
	path = tpt
	url = https://github.com/JaneliaSciComp/tpt
[submodule "APT"]
	path = APT
	url = https://github.com/kristinbranson/APT
