analysis-test-folder/
analysis-test-template/
*.m~
.playfmfrc.mat
*.asv
goldblum/example-experiments-read-only/
goldblum/example-experiments-working-copy/
example-experiments-read-only/
example-experiments-working-copy/
goldblum/goldblum-test-destination-folder/
test_goldblum_run_*.out.txt
test-experiments-read-only/
test-experiments-working/
test_analyze_experiment_folders_run_*.out.txt

